.date{
    margin-top: 150px;
    background-color: rgba(167, 221, 253, 0.87);
    width: 400px;
    padding: 2rem 2rem 2rem 2rem;
    box-shadow: 0 1.5rem 1rem -1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
    
}